---
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: logo.jpg
  cta_label: Get Start
  cta_url: /docs/choose-project/
  caption: "Photo credit: [**bittiger**](http://www.bittiger.io)"
excerpt: "Everyone need to read beginner guidebook."

feature_row:
  - image_path: mini_flickr_front.jpg
    title: "5 Mini Flickr"
    excerpt: "Hardness: 第四期完成率: 1/1."
    url: "/mini_flickr"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: mini_appstore_with_java_front.jpg
    title: "6 AppStore with JAVA"
    excerpt: "Hardness: 第四期完成率: 2/3."
    url: "/mini_appstore_with_java"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: web_crawler1.jpg
    alt: "web_crawler1.jpg"
    title: "9 Web Crawler"
    excerpt: "Hardness: 第四期完成率: 2/4."
    url: "/web_crawler"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: appstore_with_meteorjs_front.jpg
    title: "13 App Store with MeteorJS"
    excerpt: "Hardness: 第四期完成率: 2/4."
    url: "/appstore_with_meteorjs"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: ads_searching_system_front.jpg
    title: "16 Ads Searching System"
    excerpt: "Hardness: 第四期完成率: 1/2."
    url: "/ads_searching_system"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: movie_rating1.jpg
    alt:
    title: "17 Movie Rating with Collaborative Filtering"
    excerpt: "Hardness: 第四期完成率: 2/3."
    url: "/movie_rating"
    btn_label: "Enter"
    btn_class: "btn--inverse"
---

{% include base_path %}

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
