---
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: logo.jpg
  cta_label: Get Start
  cta_url: /docs/choose-project/
  caption: "Photo credit: [**bittiger**](http://www.bittiger.io)"
excerpt: "Everyone need to read beginner guidebook."

feature_row:
  - image_path: mini_flickr_front.jpg
    title: "5 Mini Flickr"
    excerpt: "Quick Android Project"
    url: "/mini_flickr"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: web_crawler1.jpg
    alt: "web_crawler1.jpg"
    title: "9 Web Crawler"
    excerpt: "Python, Scarpy"
    url: "/web_crawler"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: construction.jpg
    title: "16 Ads Searching System"
    excerpt: "Build a mini ads search service. Java needed only. Hardness: 4th Program: 1/2."
    url: "/ads_search"
    btn_label: "Enter"
    btn_class: "btn--inverse"

  - image_path: movie_rating1.jpg
    alt:
    title: "17 Movie Rating"
    excerpt: "Spark, Recommendation System"
    url: "/movie_rating"
    btn_label: "Enter"
    btn_class: "btn--inverse"


  - image_path: construction.jpg
    title: "3 Mini Uber Backend"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "6 Mini AppStore with JAVA"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "7 Mini-Cassandra"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "11 App Recommender"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "12 Open Source Search Engine"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "13 App Store with MeteorJS"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "15 Collaboration App"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "18 TODO Page with AngularJS"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "19 iOS Mini Flickr"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "20 Internet of Things Open-Ended Project"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "21 LoadBalancer"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "22 ToDoList with React"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "23 Find My Friend with iOS"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "24 AR 3D giftcard"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "25 Online Judge Platform on Docker"
    excerpt: "This is under construction."

  - image_path: construction.jpg
    title: "New Project"
    excerpt: "This is under construction."
---

{% include base_path %}

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
