---
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: logo.jpg
  cta_label: Start Here
  cta_url: "/start.html"
  caption: "Photo credit: [**bittiger**](http://www.bittiger.io)"
excerpt: "Everyone need to learn the beginner guidebook."

feature_row:
  - image_path: web_crawler1.jpg
    alt: "web_crawler1.jpg"
    title: "Web Crawler"
    excerpt: "This is the most popular project in BitTiger."
    url: "/web_crawler"
    btn_label: "Enter"
    btn_class: "btn--inverse"
  - image_path: movie_rating1.jpg
    alt:
    title: "Movie Rating"
    excerpt: "This is a spark project."
    url: "/movie_rating"
    btn_label: "Enter"
    btn_class: "btn--inverse"
  - image_path:
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path:
    title: "Placeholder 4"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include base_path %}

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
